# Flutter
build/
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.metadata

# Android
android/.gradle/
android/local.properties
android/.idea/
android/build/
android/app/.cxx/
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Dev environment
dev_env/

# OS files
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
